@import "@angular/material/prebuilt-themes/deeppurple-amber.css";

a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.da-btn-secondary,
.da-btn-secondary:hover,
.da-btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: 0.05rem solid #fff;
}

/*
 * Base structure
 */

html,
body {
  height: 100%;
}

.da-cover-container {
  max-width: 42em;
}

/*
 * Header
 */
.da-masthead {
  margin-bottom: 2rem;
}

.da-masthead-brand {
  margin-bottom: 0;
}

.da-nav-masthead .da-nav-link {
  padding: 0.25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.5);
  background-color: transparent;
  border-bottom: 0.25rem solid transparent;
}

.da-nav-masthead .da-nav-link:hover,
.da-nav-masthead .da-nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, 0.25);
}

.da-nav-masthead .da-nav-link + .da-nav-link {
  margin-left: 1rem;
}

.da-nav-masthead .da-active {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 48em) {
  .da-masthead-brand {
    float: left;
  }
  .da-nav-masthead {
    float: right;
  }
}

/*
 * Cover
 */
.da-cover {
  padding: 0 1.5rem;
}
.da-cover .btn-lg {
  padding: 0.75rem 1.25rem;
  font-weight: 700;
}

/*
 * Footer
 */
.da-mastfoot {
  color: rgba(255, 255, 255, 0.5);
}

#da-form-center {
  height: 100%;
  background-color: whitesmoke;
}

#da-form-center {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

#da-bottom-links a {
  color: #226ee0;
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
}

#da-success-msg {
  text-align: left;
}
