<div id="da-dino-home">
  <div class="da-cover-container d-flex h-100 p-3 mx-auto flex-column">
    <header class="da-masthead mb-auto">
      <div class="inner">
        <h3 class="da-masthead-brand"><a [routerLink]="'/home'">DinoAng</a></h3>
      </div>
    </header>

    <main role="main" class="inner da-cover">
      <h1 class="da-cover-heading">Bienvenue sur DinoAng.</h1>
      <p class="lead">
        Petite application basée sur MEAN stack. Elle représente un carnet
        d'adresse pour les dinosaures. Sans plus tarder, inscris toi et découvre
        la. Si tu possèdes déjà un compte, connecte toi simplement Dino.
      </p>
      <p
        class="lead"
        *ngIf="
          dinoService.loggedIn && !dinoService.isTokenExpired;
          else mustAuth
        "
      >
        <a
          [routerLink]="'/profile/' + idDino"
          class="btn btn-lg btn-primary mx-2"
          >Profile</a
        >
      </p>

      <ng-template #mustAuth>
        <a [routerLink]="'/signin'" class="btn btn-lg da-btn-secondary mx-2"
          >Connexion</a
        >
        <a [routerLink]="'/signup'" class="btn btn-lg btn-success"
          >Inscription</a
        >
      </ng-template>
    </main>

    <footer class="da-mastfoot mt-auto">
      <div class="inner">
        <p>DinoAng, by <a href="https://github.com/margaal">Margaal</a>.</p>
      </div>
    </footer>
  </div>
</div>
